<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header >
    <nav-bar></nav-bar>
  </header>

  <main class="mb-4">
    <div class="bg-body-tertiary">
      <div class="container mb-4 py-5 pb-lg-3 ">
        <div class="d-flex flex-column-reverse flex-lg-row justify-content-between align-items-center">
          <div class="d-flex flex-column justify-content-center align-items-center align-items-lg-start">
            <h1 class="display-5 fw-bold">Story App</h1>
            <p class="fs-4 mb-5">Share your story with everyone.</p>
            <a class="btn btn-primary btn-lg max-w-150px" href="/story/add.html">Start Now</a>
          </div>
  
          <lottie-player url="/home.lottie"></lottie-player>
        </div>
      </div>
    </div>
    
    <div class="container">
      <h2>People Stories</h2>
      <hr>

      <div class="row">
        <div class="mb-3 col-md-6 col-lg-4">
          <div class="card">
            <img src="https://source.unsplash.com/1200x700/?nature" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Faisal Sulaiman</h5>
              <p class="card-text">In rhoncus lorem nec ex egestas mollis vel a mauris. Pellentesque vel diam at neque hendrerit bibendum. Quisque egestas, dolor eu semper dapibus, turpis neque.</p>
            </div>
            <div class="card-footer">
              Senin, 1 Agustus 2023
            </div> 
          </div>
        </div>

        <div class="mb-3 col-md-6 col-lg-4">
          <div class="card">
            <img src="https://source.unsplash.com/1200x700/?nature" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Faisal Sulaiman</h5>
              <p class="card-text">In rhoncus lorem nec ex egestas mollis vel a mauris. Pellentesque vel diam at neque hendrerit bibendum. Quisque egestas, dolor eu semper dapibus, turpis neque.</p>
            </div>
            <div class="card-footer">
              Senin, 1 Agustus 2023
            </div>          
          </div>
        </div>

        <div class="mb-3col-md-6 col-lg-4">
          <div class="card">
            <img src="https://source.unsplash.com/1200x700/?nature" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Faisal Sulaiman</h5>
              <p class="card-text">In rhoncus lorem nec ex egestas mollis vel a mauris. Pellentesque vel diam at neque hendrerit bibendum. Quisque egestas, dolor eu semper dapibus, turpis neque.</p>
            </div>
            <div class="card-footer">
              Senin, 1 Agustus 2023
            </div> 
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="p-2">
    <div class="container d-flex justify-content-between align-items-center">
      <p class="m-0 p-0">© Yusril A. P. 2023 All rights reserved</p>

      <div class="local-picker d-flex align-items-center">
        Language :
        <select class="form-select w-auto ms-3">
            <option value=${locale} selected>
              en
            </option>
        </select>
      </div>
    </div>
  </footer>
</body>
</html>