<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Story App</title>
</head>
<body>
  <header >
    <nav-bar></nav-bar>
  </header>

  <main class="mb-4">
    <div class="container">
      <div class="row mt-5 ">
        <div class="col-md-6">
          <story-add-title></story-add-title>
          <form id="addRecordForm" novalidate>
            <story-add-form-group class="row g-3"></story-add-form-group>
          </form>
        </div>

        <div class="col-md-6 offset-lg-1 col-lg-5">
          <story-add-preview></story-add-preview>
        </div>
      </div>
    </div>
  </main>

  <footer class="p-2">
    <footer-content></footer-content>
  </footer>

  <modal-alert></modal-alert>
  <loading-screen></loading-screen>
</body>
</html>